*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to top, #dbdbd2 86%, #009688 86%);
  height: 100vh;
  font-family: 'Lato', sans-serif;
  padding: 20px 0;
}
.container_all{
  background-color: pink;
  max-width: 1480px;
  height: calc(100vh - 40px);
  margin:auto;
  display: flex;
}
.left_container{
  background-color: lightblue;
  width: 40%;
  height: 100%;
  background-color: #fff;
  display: inline-block;
  border: 1px solid lightgray;
}

.right_container{
  background-color: lightgreen;
  width: 60%;
  height: 100%;
  background-image: url("../img/mine.jpg");
  display: inline-block;
  border: 1px solid lightgray;
}
.header_left,
.header_right{
  background-color: #EAEAEA;
  padding: 5px;
  border: 1px solid lightgray;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_right{
  margin-bottom: 30px;
}
.account,
.account_contact{
  display: flex;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
}
.name_account,
.name_contact{
  font-size: 14px;
  font-weight: 500;
}
.icon_account a i{
  margin-right: 15px;
  color: #B1B1B1;
}
.icon_account a i:hover,
.smile_rec:hover{
color: #009688;
}
.avatar_io, .avatar_1{
object-fit: cover;
width: 17%;
display: flex;
border-radius: 50%;
}
.avatar_1{
width: 10%;
padding: 1px;
}
.last_access{
display: block;
width: 100%;
color: #6B7376;
font-size: 11px;
margin-top: 2px;
}
.notification{
background-color: #8EDAFC;
height: 80px;
width: 100%;
display: flex;
justify-content: flex-start;
align-items: center;
padding-left: 15px;
}
.bell_container{
height: 45px;
width: 45px;
background-color: #fff;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
margin-right: 15px;
}
.bell{
color:  #8EDAFC;
font-size: 18px;
cursor: pointer;
}
.search_bar{
  background-color: #F3EEEA;
  display: flex;
  padding: 10px 0;
  width: 100%;
}
#search_contact,
label{
  margin: auto;
  outline: none;
  height: 30px;
  width: 97%;
  padding-left: 15px;
  border-radius: 5px;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  border: none;
}
label{
  border: 1px solid #DBDBD2;
  padding-bottom: 30px;
}
i.search_for_input{
  cursor: pointer;
  /* position: absolute; */
  margin-top: 30px;
  font-size: 12px;
  color:#B1B1B1;
}
.address{
  height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 20px;
  overflow: auto;
}
.address_not_active{
  border-bottom: 1px solid lightgray;
}
.address_active{
 background-color: #EAEAEA;

}
.img_address{
  width: 10%;
  display: flex;
  border-radius: 50%;
}
.address_name{
  margin: 5px 0 0 10px;
  align-self: flex-start;
}
.container_overflow{
  overflow-y: scroll;
  height: 90%;
}

footer{
  background-color: #F3EEEA;
  padding: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: baseline;
}
.chat{
  width: 85%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.smile_rec{
  color: #6B7376;
}
main{
  height: calc(100% - 185px);
  overflow-y: auto;
  width: 100%;
  display: flex;
}
.row_messages{
  display: inline-block;
  width: 100%;
}
.mess_container{
  display: flex;
}
.received,
.send{
  margin: 10px 40px;
  min-width: 350px;
  max-width: 400px;
  font-size: 14px;
}
.received{
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: auto;

}
.send{
  background-color: #D5F9BA;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: auto;
}
.date_send{
  font-size: 8px;
  display: flex;
  justify-content: flex-end;
  color: #B1B1B1;
  margin-top: 20px;
}
ul li{
  list-style: none;
  cursor: pointer;
}
