<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>Whatsapp</title>
</head>
<body>
  <div id="root">

    <div class="container_all">
      <div class="left_container">
         <header class="header_left">
            <div class="account">
              <img class="avatar_io" src="img/avatar_io.jpg" alt="">
              <p class="name_account">Francesca Petraroia</p>
            </div>
            <div class="icon_account">
              <a href="#"><i class="fas fa-circle-notch"></i></a>
              <a href="#"><i class="fas fa-comment-alt"></i></a>
              <a href="#"><i class="fas fa-ellipsis-v"></i></a>
            </div>
          </header>

          <div class="container_overflow">
            <div class="notification">
              <div class="bell_container">
                <i class="bell fas fa-bell-slash"></i>
              </div>
              <p class="name_contact">Ricevi notifiche di nuovi messaggi <a href="#" class="last_access"> Attiva notifiche desktop</a> </p>
            </div>

            <div class="search_bar">
              <!-- da cambiare -->
              <!-- <a href="#"><i class="search_for_input fas fa-search"></i></a> -->
              <label for="search_contact"><i class="search_for_input fas fa-search"></i></label>
              <input id="search_contact" type="text" name="" value="" placeholder="cerca o inizia una nuova chat">
            </div>

              <ul>
                <li :class="contactIndex == index ? 'address_active' : 'address_not_active'" @click='contactIndex = index' v-for="(element,index) in contacts">
                  <div class="address">
                    <img class="img_address" :src="'img/avatar' + element.avatar + '.jpg'" alt="photo">
                    <p class="address_name">{{element.name}}</p>
                  </div>
                </li>
              </ul>
          </div>
      </div>
      <div class="right_container">
        <header class="header_right">

          <div class="account_contact">
            <img class="avatar_1" :src="'img/avatar' + contacts[contactIndex].avatar + '.jpg'">
            <p class="name_contact">{{contacts[contactIndex].name}}<span class="last_access"> Ultimo accesso oggi alle 13.39</span> </p>
          </div>

          <div class="icon_account">
            <a href="#"><i class="fas fa-search"></i></a>
            <a href="#"><i class="fas fa-paperclip"></i></a>
            <a href="#"><i class="fas fa-ellipsis-v"></i></a>
          </div>
        </header>

        <main >
          <div class="row_messages">
            <div class="mess_container" v-for="(messaggio,index) in contacts[contactIndex].messages">
              <div :class="(messaggio.status == 'sent') ? 'send' :'received' ">
                <p>{{messaggio.message}}</p>
                <p class="date_send">{{messaggio.date}}</p>
              </div>
            </div>
          </div>
        </main>

        <footer>
            <a href="#"><i class="smile_rec far fa-smile"></i></a>
            <input class="chat" v-model="newMessage" type="text" placeholder="Scrivi un messaggio" @keydown.13 ="addMessage(contactIndex)">
            <!-- <input  type="text" name="" value="" placeholder=""> -->
            <a href="#"><i class="smile_rec fas fa-microphone"></i></a>
          </footer>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script>dayjs().format('DD/MM/YYYY HH:mm:ss')</script>
  <script src="script/script.js" charset="utf-8"></script>



</body>
</html>
